
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewBag.name</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Dara</td>
            <td>0175968944</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Dara</td>
            <td>019208473</td>
        </tr>
    </tbody>
</table>

